/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defining variables */
:root {
    --primary-color: #40adec;
    --secondary-color: #00466e;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body config */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* H1 config */
h1 {
    font-size: clamp(1.6rem, 2vw,2rem);
}

/* Header and header config */
header, footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

/* Footer links config */
footer a {
    text-decoration: none;
    color: var(--secondary-color);
}

footer a:hover {
    text-decoration: underline;
}

/* Main config */
main {
    flex: 1;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
}

/* Game area config */
#game-area {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: min(25em, 100%);
}

/* Image container and img config */
#image-container {
    border-radius: 10px;
}

#image-container img {
    width: 100%;
    border-radius: inherit;
}

/* Form config */
form {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

/* Input config */
input {
    border: none;
    flex: 1;
    border-radius: 5px;
    padding: 10px;
}
input:focus {
    outline: none;
}

/* Button config */
button {
    border: none;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
}

button:enabled {
    cursor: pointer;
}

/* Result-area config */
#result-area {
    display: none;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    background-color: var(--secondary-color);
    width: min(25em, 100%);
}
#result-area.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Unordered lists style */
ul {
    list-style-type: none;
}

/* Color classes for text */
.correct {
    color: #00ff15;
}
.incorrect {
    color: #ff3c3c;
}

/* Span config */
span {
    font-weight: 600;
}

/* Config for the '#episodes' list item */
#episodes {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 120px;
    gap: 1rem;
}

/* Unordered lists inside of #episodes */
#episodes ul {
    background-color: #0065a0;
    padding: 10px;
    border-radius: 10px;
}